.switch {
  display: inline-block;
  width: 50px;
  height: 30px;
  position: relative;
}

[type=checkbox] {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #ccc;
  transition:  500ms all cubic-bezier(0.165, 0.84, 0.44, 1);
  border-radius: 7px;
  
}

.slider:before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #fff;
  top: 3.5px;
  left: 5px;
  transition: 500ms all cubic-bezier(0.165, 0.84, 0.44, 1);
}

[type=checkbox]:checked + .slider:before {
  transform: translateX(22px);
}

[type=checkbox]:checked+.slider {
  background: #2B39D2;
}