* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #667;
  width: 100%;
  height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.display {
  padding: 20px;
  background: #f3f3f3;
  color: #555;
}

.display h1 {
  font-size: 1.3rem;
}

.screen {
  margin: 10px 0 15px 0;
  padding: 10px 15px;
  color: rgb(27, 79, 123, 0.7);
  border: 1px solid #ccc;
  font-size: .986rem;
  font-weight: bold;
  background: rgb(0, 0, 0, 0.2);
  overflow-x: auto;
}

.generatePassword {
  display: block;
  width: 100%;
  padding: 14px 16px;
  font-weight: bold;
  color: #fff;
  font-size: .986rem;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  background: #3F4CE4;
}